* {
    margin: 0;
    padding: 0;
}
.container {
    width: 2000px;
    overflow: hidden;
    text-align: center;
    display: flex;
    position: relative;
    margin: 30px 50px;
}
.nz{
    width: 500px;
    height: 60px;
    position: absolute;
    left: 10px;
    top: 150px;
    background-color:rgba(0,0,0,0.6);
    height:100%;
    color:#fff;
    opacity:0;
    transition: all 1s ease-in-out;
}
.nz:hover .p {
    opacity:1;
  }
.pr {
    background-color:rgba(0,0,0,0.6);
    height:100%;
    color:#fff;
    text-align:center;
    line-height:320px;
    opacity:0;
    transition:  all 1s ease-in-out;
}
.pr:hover .p {
    opacity:1;
  }
.sw {
    background-color:rgba(0,0,0,0.6);
    height:100%;
    color:#fff;
    text-align:center;
    line-height:320px;
    opacity:0;
    transition: ease-in-out 3s;
}
.sw:hover .p {
    opacity:1;
  }